* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

span {
    color: #248864;
}

.left {
    width: 60%;
}
.right {
    width: 40%;
}

.bgc-box {
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
}
.bgc-box > div:last-of-type {
    position: relative;
}
.bgc-box #bg-black {
    background: linear-gradient(to top right, #060606, #121212);
}
.bgc-box #bg-gradient,
.bgc-box #bg-blur {
    position: absolute;
    top: 0;
    left: 0;
}
.bgc-box #bg-gradient {
    width: 100%;
    height: 100%;
    background-image: url("images/blackGreenGradient.png");
    background-size: cover;
    background-position: center;
    /* backdrop-filter: blur(5px); */
    /* filter: blur(5px); */
}
.bgc-box #bg-blur {
    width: 100%;
    height: 100%;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
}

.hero-container {
    padding: 30px 90px;
    height: 100vh;
}
nav {
    display: flex;
    color: #9e9e9e;
    position: relative;
    z-index: 20;
}
nav a {
    text-decoration: none;
    color: #9e9e9e;
    padding: 0 30px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
}

nav .left {
    display: flex;
    justify-content: space-between;
    padding-right: 30px;
}
nav .right {
    text-align: right;
}

.hero-container header {
    position: relative;
    z-index: 50;
    display: flex;
    height: calc(100vh - 150px);
    color: #fff;
    align-items: center;
    justify-content: flex-start;
}

.hero-container header .right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-container header .header-box h1 {
    font-family: Oswald;
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    line-height: 115%;
}

.hero-container header .header-box p {
    width: 60%;
    padding-top: 30px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 37px;
    /* or 195% */

    color: #a3a3a3;
}

.button-box {
    padding-top: 30px;
}

.btn {
    height: 50px;
    line-height: 50px;
    border-radius: 10px;
    width: 180px;
    display: inline-block;
    margin-right: 20px;
    text-align: center;
}
.btn-main {
    background: linear-gradient(94.1deg, #3caa75 0%, #248864 99.97%);

    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 50px;

    color: #000000;
}

.mockup-box {
    width: 700px;
    height: 800px;
    position: relative;
}

.mockup-box img {
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
}

.mockup-box img:last-of-type {
    transform: translate(-40%, 0%);
}
.mockup-box img:first-of-type {
    transform: translate(0, 10%);
}

.tech-section {
    margin-top: 50px;
    height: 80vh;
    width: 100%;
    background: linear-gradient(to bottom, #fff, #eeeeee);
}
section > header {
    font-family: Oswald;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 74px;

    text-align: center;

    color: #000000;
}
.section-header span {
    color: #4c866b;
}
.cards-box {
    width: 100%;
    padding-top: 150px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}
.card {
    width: 300px;
    height: 400px;
    padding: 20px;
    padding-bottom: 40px;
    color: #fff;
    border-radius: 15px;

    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;

    box-shadow: 2px 3px 20px 2px rgba(0, 0, 0, 0.205);
}
#frontend {
    background-image: url("images/techsGradientGreen.png");
    transform: translateY(-75px);
}
#backend {
    background-image: url("images/techsGradientPurple.png");
}
#design {
    background-image: url("images/techsGradientBlue.png");
    transform: translateY(75px);
}
.card img {
    width: 80%;
}
.card h3 {
    width: 100%;

    font-family: Oswald;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    text-align: left;
}
.card p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
}

.team-section {
    background: #eeeeee;
}
.team-section header {
    width: 80%;
    margin: 0 auto;

    border-top: 2px solid #248864;
    padding-top: 30px;
}
.people-box {
    display: flex;
    justify-content: space-around;
    padding: 100px 0;
}
.person-box {
    height: 550px;
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.person-box img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    transform: translateY(15px);
    position: relative;
    z-index: 150;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}
.person-box .person-text-box {
    width: 100%;
    height: 150px;
    padding: 25px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);

    text-align: center;
}
.person-box .person-text-box h4 {
    font-family: Oswald;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;

    color: #000000;
}
.person-box .person-text-box p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 18px;

    color: #000000;
}
